.gallery img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.gallery img {
    margin: 10px;
}

body {

background-image:url(modal.jpg);
background-size: cover; 
}
.sttable tbody tr:hover {
    background-color: #2a52a187;
}

details {
    border: 3px solid #231f1f;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; /*между*/
}
details:hover {
    background-color: #c3c2c2;
    transform: scale(1.02);
}
.car-image:hover {
    transform: scale(1.05);
}
mark {
    background-color: rgb(93, 123, 149); 
    color: black;           
}
